*{
  margin-top: 0;
  max-height: 700px;
}

body, .iphone-14-6 {
  background-image: url(./public/ภาพบรรยากาศสจล\ \(6\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  z-index: -1;
  }

p {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

nav{
  font-family: var(--font-kanit);
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  z-index: 2;
  padding-left: 20px;
}

nav ul{
  display: flex;
}

nav ul li{
  margin-top: 8px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 18px;
  padding: 16px;
}

nav ul li a:hover{
    box-shadow: 0px 0px 10px #ff6600;
    background-color: #f3960b;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
  
}

.iphone-14-6-child,
.iphone-14-6-inner,
.iphone-14-6-item {
  position: fixed;
  transform: rotate(-49.81deg);
  transform-origin: 0 0;
}
.iphone-14-6-child {
  top: 535.88px;
  left: -363.68px;
  background-color: #ffe710;
  width: 506.43px;
  height: 813.78px;
}
.iphone-14-6-inner,
.iphone-14-6-item {
  top: 239.99px;
  left: -215px;
  background-color: var(--color-orangered);
  width: 286.66px;
  height: 804.52px;
}
.iphone-14-6-inner {
  top: 257.73px;
  left: -213.33px;
  background-color: var(--color-black);
  width: 199.92px;
  height: 826.41px;
}
.group-icon {
  position: relative;
  width: 296px;
  top: -16px;
  opacity: 65%;
  left: -8px;
  height: 381px;
  mix-blend-mode: hard-light;
}
.group-11-1 {
  position: fixed;
  top: -90px;
  left: 136px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 45px;
}
.ellipse-3-svg {
  border-radius: 50%;
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}


.image-2-svg {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 195.87px;
  height: 192.44px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.win1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);font-size: 100%;
  
}

.win2 {
  font-size: 50%;
  position: relative;
  margin-bottom: 30px;
  top: 35%;
  left: 5px;
}

.win {
  position: relative;
  color: #fdfdfd;
  background-color: #ff6600;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  top: 34%; 
  font-size: 128px;
  left: 23%;
  bottom: -260px;
  letter-spacing: 0.1em;
  width: 50%;
  height: 48%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 5px 5px #a79f89;
}


.win p {
  font-weight: 800;
  text-shadow: 8px 5px #fca029;
}

.start-button {
  color: #fdfdfd;
  position: relative;
  font-size: 128px;
  letter-spacing: 0.1em;
  width: 20%;
  height: 20%;
}

.enter-web{
  position: relative;
  font-size: 20%;
  letter-spacing: 0.1em;
  border-radius: 8px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  color: rgb(3, 3, 3);
  text-shadow: 1px 2px #a79f89;
  transition: 0.5s;
  
}

.enter-web:hover{
    box-shadow: 0px 0px 10px #ff9900;
      background-color: #f3d00b;
      -webkit-transform: scale(1.1);
      transform: scale(1.2);
}


.iphone-14-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-kanit);
}




@media only screen and (max-width:640px) {
  .menu {
    display: none;
  }
  
  .hamburg {
    display: inline-block;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    transition: 0.7s;
  
  }

  .bar1,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #000000;
  border-radius: 6px;  
  margin-bottom: 6px;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 5px;
  background-color: #000000;
  border-radius: 6px;
  margin-top: 7px;
  margin-left: 9px;
  margin-bottom: 6px;
  transition: 0.4s;
}


/* Hambur */
.change{
  box-shadow: 0px 0px 10px #ff6600;
  background-color: #f3960b;
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}

.change .bar1 {
  transform: translate(0, 12px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -12px) rotate(45deg);
}


  .image-2-svg {
    top: 56px;
  }

  .ellipse-3-svg{
    margin-top: 5px;
  }

    .win1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 100%;
  
    }
  
    .win2 {
      position: absolute;
      top: 45%;
      font-size: 50%;
      left: 52%;
      transform: translateY(-50%) translateX(-50%);
    }

    .win {
      font-size: 100px;
      top: 35%;
      width: 70%;
      height: 40%;
      left: 15%;
    }

    .enter-web {
     top: 35%
    }

  
}