* {
    margin-top: 0;
    font-family: var(--font-kanit);
}

p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

nav {
    background-color: white;
    z-index: 800;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-top: 8px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
    padding: 16px;
    z-index: 800;
}

nav ul li a:hover {
    box-shadow: 0px 0px 10px #ff6600;
    text-decoration: none;
    color: white;
    background-color: #f3960b;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    z-index: 800;
}

.nav-wrapper {
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 2;
    font-family: var(--font-kanit);
    display: flex;
}

.ellipse-3-svg {
    padding-left: 20px;
    height: 35px;
    object-fit: cover;
}

.hamburg {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0.1em;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    transition: 0.7s;

}

.bar1,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.4s;
    z-index: 100;
}

.bar2 {
    width: 25px;
    height: 5px;
    background-color: #000000;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 9px;
    margin-bottom: 6px;
    transition: 0.4s;
}

/* Hambur */
.change {
    box-shadow: 0px 0px 10px #ff6600;
    background-color: #f3960b;
    transition: 0.7s;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.change .bar1 {
    transform: translate(0, 12px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -12px) rotate(45deg);
}

@media only screen and (max-width:940px) {
    .menu {
        display: none;
        width: 100%;
    }

    .menu-active {
        display: block;
        z-index: 200;
        transition: translate var(--animation-timing);
    }

    .menu .menu-active {
        transition: 0.7s;
    }

    .hamburg {
        display: inline-block;
        
    }

    .ellipse-3-svg {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li a:hover {
        background-color: transparent;
        border: none;
        color: white;
        box-shadow: none;
    }

    ul {
        padding-inline-start: 0px;
        margin-block-end: 0px;
        width: 100%;
        margin-top: -10px;
        margin-bottom: 8px;
        padding-bottom: 0px;
        padding-top: 5px;
    }


    .menu li:hover {
        padding-bottom: 10px;
        padding-top: 10px;
        transition: ease-in-out 0.5s;
        box-shadow: 0px 0px 10px #ff6600;
        background-color: #f3960b;
        z-index: 2;
    }

}