* {
    margin-top: 0;
    font-family: 'Kanit';
}

body {
    background-image: url(../static/public/bg.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100%;
}
.center {
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 53px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;  
    position: absolute;
    left: 13%;
    z-index: -1;
    top: 13%;
    width: 70%;
    height: 58vh;

}

.center h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #a6a6a6;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    border: none;
    height: 2px;
    border-bottom: none;
    transition: .5s;
    background: #fc8803;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #fc8803;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #fc8803;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 10px #ff9900;
    background-color: #ff9a02;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    border: none;
}

.signup_link {
    margin-top: 2em;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #fc8803;
    text-decoration: none;
    transition: 0.5s;
}

.signup_link a:hover {
    text-decoration: underline;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);


}