* {
    margin-top: 0;
    font-family: 'Kanit';
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #fc8803;
    overflow-x: hidden;
}

.tire-img-1, 
.tire-img-3, 
.tire-img-5,
.tire-img-7,
.tire-img-9,
.tire-img-11,
.tire-img-13 {
    position: absolute;
    width: 150%;
    top: -10%;
    z-index: -1;
    left: -25%;
    overflow: hidden;
    object-fit: cover;
}

.tire-img-3{
    top: 120%;
}


.tire-img-2,
.tire-img-4,
.tire-img-6,
.tire-img-8,
.tire-img-10,
.tire-img-12 {
    position: absolute;
    width: 150%;
    top: 50%;
    z-index: -1;
    left: -40%;
    overflow: hidden;
    object-fit: cover;

}

.tire-img-4 {
    top: 175%;
}

.tire-img-5 {
    top: 245%;
}

.tire-img-6 {
    top: 305%;
}

.tire-img-7 {
    top: 370%;
}

.tire-img-8 {
    top: 435%;
}

.tire-img-9 {
    top: 495%;
}

.tire-img-10 {
    top: 565%;
}

.tire-img-11 {
    top: 620%;
}

.tire-img-12 {
    top: 695%;
}

.tire-img-13 {
    top: 745%;
}

.places {
    display: flex;
    margin-top: 20px;
    margin-left: -10px;
    width: 75%;
    height: 70px;
    background-color: yellow;
    border-radius: 0px 50px 50px 0px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    letter-spacing: 0.1em;
       
}

.carousel {
    height: 60vh;
    background-color: rgb(218, 218, 218);
    display: flex;
    width: 80%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 2em;
}

.popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;;
}

.popup-img span {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    z-index: 100;
}

.popup-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border: 5px solid white;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.carousel:hover {
    cursor: pointer;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    list-style: none;
    transition: 500ms opacity ease-in-out;
}

.slide img {
    display: block;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}


.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 1em;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    padding: 1px 0.55em;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 100%;
    filter: drop-shadow(0px 0px 10px black);
    transition: 0.5s;
}

.carousel-button:hover, 
.carousel-button:focus{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1.15em;
}


.carousel-button.pre {
    left: 0.5em;
}

.carousel-button.next {
    right: 0.5em;
}

.description, .description-last-box {
    width: 80%;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    font-size: 20px;
}

.description-last-box{
    margin-bottom: 60px;
}

.win-list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.win-list::-webkit-scrollbar {
    display: none;
}



@media only screen and (min-width: 460px) {
    .tire-img-12, .tire-img-13 {
        display: none;
    }
}

@media only screen and (max-width: 760px){
    .popup-img img {
        width: 90%;
    }
    
}

@media only screen and (min-width: 640px) {
    .places {
        width: 50%;
        margin: auto;
        margin-top: 20px;
        border-radius: 50px;
    }

}

@media only screen and (min-width: 700px) {

    .tire-img-1,
    .tire-img-2,
    .tire-img-3,
    .tire-img-4,
    .tire-img-5,
    .tire-img-6,
    .tire-img-7,
    .tire-img-8,
    .tire-img-9,
    .tire-img-10,
    .tire-img-11,
    .tire-img-12,
    .tire-img-13 {
        display: none;
    }


}