body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kanit: Kanit;

  /* font sizes */
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-orangered: #e35205;
  --color-black: #000;
}
