{% extends "base.html" %}

{% block content %} 
  <link rel="stylesheet" href="../static/index.css">

  <div class="iphone-14-6-child"></div> <!-- ถึงมันจะดูโง่ แต่ **ห้ามลบ**-->
  <div class="iphone-14-6">

    <div class="iphone-14-6-item"></div>
    <div class="iphone-14-6-inner"></div>
    <div class="group-11-1">
      <img class="group-icon" alt="" src="../static/public/group.svg" />
    </div>
    <img class="image-2-svg" alt="" src="../static/public/morter-removebg-preview.png" />
    <div class="win" id="winDiv">
      <div class="win1">WIN</div>
      <div class="win2">SPORT</div>
      <a href="/sec">
        <button class="enter-web">เข้าสู่เว็บไซต์</button>
      </a>
    </div>

    <div class="group-7-svg-1">
      <img class="group-icon1" alt="" src="../static/public//group1.svg" />

      <img class="group-icon2" alt="" src="../static/public/group2.svg" />

      <img class="group-icon3" alt="" src="../static/public/group3.svg" />

      <img class="group-icon4" alt="" src="../static/public/group4.svg" />

      <img class="group-icon5" alt="" src="../static/public/group5.svg" />

      <img class="group-icon6" alt="" src="../static/public/group6.svg" />

      <img class="group-icon7" alt="" src="../static/public/group7.svg" />

      <img class="group-icon8" alt="" src="../static/public/group8.svg" />

      <img class="group-icon9" alt="" src="../static/public/group9.svg" />

      <img class="group-icon10" alt="" src="../static/public/group10.svg" />

      <img class="group-icon11" alt="" src="../static/public/group11.svg" />

      <img class="group-icon8" alt="" src="../static/public/group12.svg" />

      <img class="group-icon13" alt="" src="../static/public/group13.svg" />

      <img class="group-icon14" alt="" src="../static/public/group14.svg" />

      <img class="group-icon15" alt="" src="../static/public/group15.svg" />

      <img class="group-icon16" alt="" src="../static/public/group16.svg" />

      <img class="group-icon17" alt="" src="../static/public/group17.svg" />

      <img class="group-icon18" alt="" src="../static/public/group18.svg" />

      <img class="group-icon16" alt="" src="../static/public/group19.svg" />
    </div>
  </div>

{% endblock %}
