{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/test.css">
<center>
<div class="profile">
<div><h1>Hi!! {{ email }}</h1></div> <div>
    <h1>Welcome{% if first_name %}, {{ first_name }}{% endif %}!</h1>
</div>

<img class="FAVBUT" id="toggleButton" src="{{ image_path }}" onclick="toggleButton()" style="cursor: pointer;">
</div>
</center>

<script>
    function toggleButton() {
        // Send a POST request to the Flask server to toggle the button state
        fetch('/toggle', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                // Update the button text based on the new state
                document.getElementById('toggleButton').src = data.image_url;
                
                // This code for change to another page
                window.location.href = '/addfav?first_name=' + encodeURIComponent(data.first_name);
            
            })
            .catch(error => console.error('Error:', error));
    }
</script>

{% endblock %}
