{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/profile.css">
<div class="center">
    <h1>Profile</h1>
    <div class="profile-container">
        <img src="{{user.pic}}" id="profile-pic">
        <label style="margin-top: 20px; font-size: 1em; cursor: pointer;" for="input-file">เปลี่ยนรูปภาพ</label>
        <input style="display: none; " type="file" accept="image/jpeg, image/png, image/jpg" id="input-file"
                name="input-file;">      
        <p style="border: none;">Username : {{ first_name }}</h1>
        <p style="border: none; margin-top: -10px;">Email : {{ email }}</h1>
        <br>
        <input class="buntuek-button" type="submit" value="Save" onclick="uploadImage()">

    </div>
</div>
<script>
    function uploadImage() {
        var input = document.getElementById('input-file');
        var file = input.files[0];
        console.log("uploading", file)
        if (file) {
            var formData = new FormData();
            formData.append('image', file);

            fetch('/upload-endpoint', {
                method: 'POST',
                body: formData
            })
                //.then(response => response.json())
                .then(data => {
                    console.log('Image uploaded successfully:', data);
                    // Handle the response from the server as needed
                    window.location.reload();
                            
                })
                .catch(error => {
                    console.error('Error uploading image:', error);
                    // Handle errors
                });
        } else {
            console.error('No file selected');
        }

    }
</script>

<script>
    let profilePic = document.getElementById("profile-pic");
    let inputFile = document.getElementById("input-file");

    inputFile.onchange = function () {
        profilePic.src = URL.createObjectURL(inputFile.files[0])
    }

</script>
{% endblock %}
