{% extends "base.html" %}
{% block content %}

<img class="tire-img-1" src="../static/public/group-20-4@2x.png">
<img class="tire-img-2" src="../static/public/group-20-5@2x.png">
<img class="tire-img-3" src="../static/public/group-20-4@2x.png">
<img class="tire-img-4" src="../static/public/group-20-5@2x.png">
<img class="tire-img-5" src="../static/public/group-20-4@2x.png">
<img class="tire-img-6" src="../static/public/group-20-5@2x.png">
<img class="tire-img-7" src="../static/public/group-20-4@2x.png">
<img class="tire-img-8" src="../static/public/group-20-5@2x.png">
<img class="tire-img-9" src="../static/public/group-20-4@2x.png">
<img class="tire-img-10" src="../static/public/group-20-5@2x.png">
<img class="tire-img-11" src="../static/public/group-20-4@2x.png">
<img class="tire-img-12" src="../static/public/group-20-5@2x.png">
<img class="tire-img-13" src="../static/public/group-20-4@2x.png">

<link rel="stylesheet" href="../static/rate.css">
<div class="places">
    เรทราคา
</div>
<div class="win-list">
    <div class="carousel" data-carousel> <!-- Fbt -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/fbt/0CF3FFD6-6AB4-4C9A-9C55-069C6A2D84D5.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- 4 แยก 1 -->
        <button class="carousel-button pre" data-carousel-button="prev">&#8249;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8250;</button>
        <ul data-slides>
            <li class="slide" data-active>
                <img src="../static/public/4 แยก 1/916BFE78-B8B2-4A92-AB3B-B284CA0DF5D5.jpg" alt="เกิดข้อผิดผลาด">
            </li>
            <li class="slide" data-active>
                <img src="../static/public/4 แยก 1/0CBC2955-0211-4A76-81CD-E2BC672610A8.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- 4 แยก 2 -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/4 แยก 2/6258BA6C-0678-4C4C-8B35-02C3AB14BCE4.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 1 -->
        <ul>
            <li class="slide-2">
                <img src="../static/public/เกกี ซุ้มที่ 1/82EAD593-505A-4405-8FCF-D231D1B9B514.jpg"
                    alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 2 -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/เกกี ซุ้ม 2/76B7CB2A-0957-446D-A3AA-857A83C41D77.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 3 -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/เกกี 3/42468AA8-F287-4D0C-8842-DC7E6B7463AD.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 4 -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/เกกี 4/02D2B7C9-BE13-4D50-97C2-7B09D748B6B8.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 5 -->
        <ul data-slides>
            <li class="slide" data-active>
                <img src="../static/public/เกกี 5/3779F3E3-EC48-4FCE-9112-22B8241F728E.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel" data-carousel> <!-- เกกีซุ้ม 6 -->
        <ul>
            <li class="slide" data-active>
                <img src="../static/public/เกกี 6/4F48F43A-9FCF-4223-BA1E-B198A22A9F6D.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum
        rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <br>
    <br>

    <div class="popup-img">
        <span>&times;</span>
        <img src="" alt="เกิดข้อผิดผลาด">
    </div>

</div>
{% endblock %}
