{% extends "base.html" %}
{% block content %}
<img class="tire-img-1" src="../static/public/group-20-4@2x.png">
<img class="tire-img-2" src="../static/public/group-20-5@2x.png">
<link rel="stylesheet" href="../static/sec_page.css">
<div class="list-box">
    <div class="frame-div">
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 1</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 2</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 3</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 4</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 5</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 6</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 7</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 8</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 9</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        
        
    </div>

</div>
{% endblock %}