{% extends "base.html" %}
{% block content %}
<img class="tire-img-1" src="../static/public/group-20-4@2x.png">
<img class="tire-img-2" src="../static/public/group-20-5@2x.png">
<link rel="stylesheet" href="../static/sec_page.css">
<div class="list-box">
    <div class="frame-div">
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 1</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id="favorite1" name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite1">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path> 
                </svg>
            </label>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 2</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite2' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite2">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 3</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite3' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite3">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 4</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite4' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite4">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 5</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite5' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite5">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 6</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite6' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite6">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 7</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite7' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite7">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 8</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite8' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite8">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        <div class="win">
            <div class="text-div">วินมอเตอร์ไซค์ 9</div>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
            <input type="checkbox" id='favorite9' name="favorite-box" value="favorite-button">
            <label style="cursor: pointer;" class="heart-div" for="favorite9">
                <svg class="heart-box" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                </svg>
        </div>
        
        
    </div>

</div>
{% endblock %}