{% extends "base.html" %}
{% block content %}
<img class="tire-img-1" src="../static/public/group-20-4@2x.png">
<img class="tire-img-2" src="../static/public/group-20-5@2x.png">
<link rel="stylesheet" href="../static/sec_page.css">
<div class="list-box">
    <div class="frame-div">
        <div class="win">
            <a href="/map?lat=13.722430076051083&lng=100.78016732950607 ">
            <div class="text-div">วินแยกเทคโนฯ​<br>(หน้า FBT)</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.728018637540828&lng=100.77791790248858">
            <div class="text-div">วินแยกพระจอมเกล้าฯ 1 <br>(ข้าง สน. จรเข้น้อย)</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.72874879275372&lng=100.7781562959654">
            <div class="text-div">วินแยกพระจอมเกล้าฯ 2<br>(หน้า Lawson)</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.7280394&lng=100.7726993">
            <div class="text-div">วินตึก 12 ชั้น<br>(ตึกโหล)</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.727919168645144&lng=100.76975143013294">
            <div class="text-div">วินคลองสี่</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.727910195481883&lng=100.76754962029145">
            <div class="text-div">วินสังข์ทองงาม 1</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.727867717247008&lng=100.76505150931416">
            <div class="text-div">วินสังข์ทองงาม 2</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.727840367109678&lng=100.76443731800089">
            <div class="text-div">วิน RNP เพลสสุวรรณภูมิ</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>
        <div class="win">
            <a href="/map?lat=13.727816731091863&lng=100.76352784022401">
            <div class="text-div">วินบ้านกลางสวน<br>(หน้าซอยมีสมาย)</div>
            </a>
            <img class="helmet-in-div" src="../static/public/ellipse-3--svg1@2x.png">
        </div>


    </div>

</div>

{% endblock %}
