<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <label for="email"> email</label><input type="text" name="email" id="field1"> 
        <br>
        <label for="password">password</label><input type="text" name="password" id="field2">
        <br>
        <label for="age">age</label><input type="number" name="age" id="field3">
        <button onclick="login()"> ajax</button>
        <br>
        <textarea style="display:none;" name="" id="response" cols="30" rows="10"></textarea>
        <script type="text/javascript">
            function login() {
                let xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/get_profile");
                xhttp.onload = function () {
                    document.getElementById("response").setAttribute("style", "display:block");
                    document.getElementById("response").innerHTML = this.responseText;
                }
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                let body = "email=" + document.getElementById("field1").value + "&password=" + document.getElementById("field2").value + "&age=" + document.getElementById("field3").value;
                console.log(body);
                xhttp.send(body);
              
            }
           
       </script>
</body>
</html>