{% extends "base.html" %}
{% block content %}

    <img class="tire-img-1" src="../static/public/group-20-4@2x.png">
    <img class="tire-img-2" src="../static/public/group-20-5@2x.png">
    <img class="tire-img-3" src="../static/public/group-20-4@2x.png">
    <img class="tire-img-4" src="../static/public/group-20-5@2x.png">

<link rel="stylesheet" href="../static/third_page.css">
<div class="places">
    ซุ้มของพี่วิน
</div>
<div class="win-list">
    <div class="carousel" data-carousel>
        <button class="carousel-button pre" data-carousel-button="prev">&#8249;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8250;</button>
        <ul data-slides>
            <li class="slide" data-active>
                <img src="../static/public/fbt/A095716B-C02B-4944-9021-1D06DCDE0BFB.jpg" alt="เกิดข้อผิดผลาด">
            </li>
            <li class="slide">
                <img src="../static/public/fbt/CF5A1CCB-DBDC-4DBA-A86F-38815530B2D5.jpg" alt="เกิดข้อผิดผลาด">
            </li>
            <li class="slide">
                <img src="../static/public/fbt/EE97100E-1355-4CAD-8277-064C4C7CC6A7.jpg" alt="เกิดข้อผิดผลาด">
            </li>
        </ul>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="carousel">
        รอรูปอยู่ครับ
    </div>
    <div class="description-last-box">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    
</div>



{% endblock %}