{% extends "base.html" %}
{% block content %}

    <img class="tire-img-1" src="../static/public/group-20-4@2x.png">
    <img class="tire-img-2" src="../static/public/group-20-5@2x.png">
    <img class="tire-img-3" src="../static/public/group-20-4@2x.png">
    <img class="tire-img-4" src="../static/public/group-20-5@2x.png">

<link rel="stylesheet" href="../static/third_page.css">
<div class="places">
    ซุ้มของพี่วิน
</div>
<div class="win-list">
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    <div class="image-container">
        รอรูปอยู่ครับ
    </div>
    <div class="description-last-box">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ullam expedita consequatur fugiat fugit earum rerum
        maiores minus quidem repellendus eligendi rem, a dolorum ea illum, animi maxime odit iure?
    </div>
    
</div>



{% endblock %}