body {
    font-family: 'Kanit', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
.red-color{
    color:#FC2E25;
}

nav {
    display: flex;
    height: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock-logo {
    color: black;
    width: 50px;
    position: relative;
    left: -3em;
    top: 125px;
}

.nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
}

.logo {
    color:black;
    font-size: 25px;
    line-height: 80px;
    font-weight: bold;
    padding-bottom: 70px;
}

ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

ul li{
    list-style-type: none;
    font-size: 17px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 5px 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    
}

ul li:first-child {
    margin-top: 0;

}

ul li:hover {
    transition: .5s;
    background: #FC2E25;
    border-radius: 10px;
    box-shadow: 0 0 10px #FC2E25 ;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);

}

.active {
    display: flex;   
}

@media screen and (min-width: 800px) {
    nav {
        height: 80px;
        flex-direction: row;
    }

    .logo{
        padding-left: 150px;
        margin: 0;
        width: 20%;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;

    }
    
    ul li {
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
    }

    .nav-toggle{
        display: none;
    }

}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.box{
    width: 1000px;
    padding: 20px 30px;
    background: white;
    border-radius: 20px;
    position: relative;
    text-align: center;
    top: 50px;
    box-shadow: 12px 10px gray;

}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("sl_0210121_40570_43.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.counter{
    display: flex;
    padding-left: 25%;
    margin-top: -70px;
}

.counter div{
    flex-basis: 120px;
}

.counter div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.enjiner_img {
    position: relative;
    width: 800px;
    padding-top: 40px;
    border-radius: 20px;
}


.box-2{
    width: 1000px;
    padding: 80px 150px;
    background: white;
    border-radius: 20px;
    position: relative;
    text-align: center;
    display: flex;
    top: 100px;
    flex-direction: column;
    box-shadow: 15px 10px gray;
}

.btn-main {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px ;
    width: 400px;
    left: 280px;
    padding: 20px 30px;
    background-color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 7px gray;
}

.btn-main:hover{
    box-shadow: 0px 0px 15px red;
    background-color: #FC2E25;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);

}

.header{
    font-size: 40px;
    font-weight: bold;
}

.btn-pray {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px ;
    width: 400px;
    padding: 20px 30px;
    background-color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 7px gray;
    
}

.btn-pray:hover{
    box-shadow: 0 0 20px red;
    background-color: #FC2E25;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.a-level{
    position: relative;
    width: 300px;
    padding-top: 40px;
    border-radius: 20px;
}

.pop-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 200vh;
    height: 50vw;
    transition-duration: 0.5s ease;
    
}

.pop {
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 600px;
    max-width: 100%;
    text-align: center;
    padding: 30px 50px;
    color: black;
    box-shadow: 0 0 50px black;
    
}

.next-btn {
    position: relative;
    left: 180px;
    display: flex;
    border: none;
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    width: 200px;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.next-btn:hover {
    box-shadow: 0px 0px 10px red;
    background-color: #FC2E25;
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}